doctype html
html(lang="zh-CN")
  include components/head

body
  main
    //- include components/intro.pug
    //- include views/main/main.pug
    .content.content-main#fullpage
      .section.content
        include ./views/intro/intro.pug
      .section.content
        include ./views/main/main.pug
    include components/scripts
